* {
	font-family: 'GmarketSansMedium';
}

body {
	font-family: 'GmarketSansMedium';
	background-color: #272829;
}

.main {
	justify-content: center;
	align-items: center;
	height: 100vh; /* 뷰포트 높이에 따라 조절 */
	padding-top: 5%;
}


.container {
	width:50%;
	margin: auto;
}
.investigationbestboard {
	width:100%;
	height: 100px;
	background-color: #45474B;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 10px;
}
.userinfo {
	width:100%;
	background-color: #45474B;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
}
.uBox{
	display: grid;
    grid-template-columns: repeat(1, 100px 1fr);
    gap: 30px;
}
.userinfo_box{
	display: flex;
	gap: 20px;
	flex-direction: column;
}
.uTextBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.uBoxImage{
    display: inline-block;
     /* width: 100%;
    height: 100%;
   background: #fff; */
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    overflow:hidden;
}
.uBoxImage img {
	width: 100%;
	height: 100%;
}
.userBox {
    display: grid;
    gap: 20px;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.userBox2 {
	width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    color: #b3b3b3;
}
.exp_box{
	width: 100%;
    background: #979797;
    height: 20px;
    border-radius: 10px;
    display:inline-block;
    position: relative;
}
.exp {
	display: inline-block;
	width:50%;
	height:20px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left:0;
    top:0;
}
.userBox > span{
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    background: #4d4f53;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    color: #b3b3b3;
}
.department,
.codename,
.grade,
.lv {
	color: #fff;
}

.investigationinfo {
	width:100%;
	height: 70px;
	display: flex;
	text-align: center;
	margin-bottom: 20px;
}

.investigationName {
	flex: 2;
	width: 100%;
	height: 100%;
	display: flex;  /* Flexbox 레이아웃을 사용합니다. */
    flex-direction: column; /* 엘리먼트들을 수직으로 정렬합니다. */
    justify-content: center; /* 수직 중앙 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
	background: #45474B;
	border-radius: 10px;
	color: white;
}

.investigationName p span {
	font-weight: 900;
	font-size: 1.2rem;
}

.progress-region {
	width:100%;
	height: 70px;
	background-color:#45474B;
	color:white;
	text-align: center;
	border-radius: 10px;
	margin-bottom: 20px;
}

.progress-region p {
	font-family: 'GmarketSansMedium';
	padding:10px;
}

.progress-bar {
	width: 80%;
	height: 10px;
	background-color: #dedede;
	font-weight: 600;
	font-size: 0.8rem;
	display: flex;
	border-radius: 15px;
	overflow: hidden;
	margin: auto;
}

.progress-bar .progress {
	width: 50%;
	height: 10px;
	padding: 0;
	text-align: center;
	border-radius: 15px;
	background-color: #FF9B9B;
}

.investigationButtons {
	flex: 1;
	display: flex;
}

.investigationButtons button {
	font-family: 'GmarketSansMedium';
	flex: 1;
	width: 100%;
	height: 100%;
	margin-left: 20px;
	border: none;
	border-radius: 10px;
	background-color: #45474B;
	color: white;
	cursor: pointer;
}

.investigationButtons button[disabled] {
    pointer-events: none; /* 클릭 이벤트 비활성화 */
    opacity: 0.6; /* 비활성화된 버튼의 불투명도 조절 */
}

.investigationButtons button[disabled]:hover {
    /* hover 효과 제거 */
    cursor: not-allowed;
}

.rename:hover{
	background-color: white;
	color: #45474B;
}

.complete:hover {
	background-color: white;
	color: #45474B;
}

.cancel:hover {
	background-color: white;
	color: #45474B;
}
.investigationboard {
	width:100%;
	height:300px;
	text-align: center;
}
.investigationboard .search {
	margin-bottom:20px;
}
.investigationboard .search button {
	width: 100px;
	height: 50px;
	border: none;
	border-radius:10px;
	background-color:  #45474B;
	color:white;
	cursor: pointer;
}
.investigationboard .search button a {
	text-decoration: none; /* 하이퍼링크 텍스트에 밑줄(라인) 제거 */
	color:white;
}
.investigationboard .search button a:hover {
	color: #45474B;
}
.investigationboard .search button:hover {
	background-color:  white;
}
.investigationboard .board {
	height:100%;
	border-radius: 10px;
	background-color:  #45474B;
}