<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggangdan.mapper.BoardMapper">

	<insert id="insert" parameterType="boardVO">
		insert into board(iidx,
		codename ,title,content,ofile,sfile)
		values(#{iidx},#{codename},#{title},#{content},#{ofile},#{sfile});
	</insert>

	<select id="getBest" parameterType="int" resultType="boardVO">
		select b.* , m.department, count(l.idx) count, i.codename icodename from board b 
		inner join member m on b.codename = m.codename
		inner join liked l on b.idx = l.bidx
		inner join investigationslist i on b.iidx = i.idx 
		where b.iidx = #{iidx} group by(l.bidx) order by count desc limit 1 ;
	</select>

	<select id="boardList" parameterType="String"
		resultType="BoardVO">
		select b.*, m.department, i.codename icodename from board b 
		inner join member m on m.codename = b.codename 
		inner join investigationslist i on b.iidx = i.idx
		order by idx desc;
	</select>
	
	<select id="getLast" resultType="boardVO">
		select * from board order by idx desc limit 1;
	</select>
	
	<update id="reCommendBtn" parameterType="int">
		update board set
		recommend = 1 where idx = #{idx};
	</update>

</mapper>