<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggangdan.mapper.InvestigationMapper">
	<select id="getInvestigationList" resultType="InvestigationDTO">
		select * from investigationslist order by idx desc;
	</select>
	
	<select id="getInvestigation" parameterType="int" resultType="InvestigationDTO">
		select * from investigationslist where idx=#{idx};
	</select>
	
	<insert id="insertInvestigation" parameterType="Map">
		insert into investigationslist(investigationName,codename) values (#{investigationName},#{codename});
	</insert>
</mapper>