<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggangdan.mapper.MemberMapper">
	<select id="login" parameterType="String" resultType="memberDTO">
		select id,pw,codename,department, grade, lv, exp from member where id = #{id};
	</select>
	<insert id="insert" parameterType="memberDTO">
		insert into member(id,pw,codename, department) values(#{id},#{pw},#{codename},#{department});
	</insert>
	<update id="update" parameterType="memberDTO">
		update member set pw=#{pw} where id=#{id};
	</update>
	<select id="getOne" parameterType="String" resultType="memberDTO">
		select id,pw,codename,department, grade, lv, exp from member where id = #{id};
	</select>
	<update id="WriteBoard" parameterType="String">
		update member set exp = exp + 5 where codename = #{codename};
	</update>
	
	<select id="getallranklist" resultType="memberDTO">
		SELECT *, DENSE_RANK() OVER (ORDER BY lv DESC, exp DESC) as ranking
		FROM member ORDER BY lv DESC, exp DESC;
	</select>

	<select id="getdepartmentranklist" parameterType="String" resultType="memberDTO">
		SELECT *, DENSE_RANK() OVER (ORDER BY lv DESC, exp DESC) as ranking
		FROM member where department = #{department}
		ORDER BY lv DESC, exp DESC;
	</select>
</mapper>